
mixin cardDest(img, name, subname, rate)
    .card-dest
        img(src=img alt=name).card-dest__img
        .card-dest__content
            .card-dest__content--title
                h3 #{name}
                br
                h4 #{subname}
        .card-dest__content--rate
            p #{rate}
